* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161616;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: 1327px;
    margin: 0 auto;
} 

.header-display {
    height: 128px;
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 90px;
    height: 40px;
}

.header__nav {
    margin-left: 92px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.header_nav-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.header-line {
    margin-left: 38px;
    border: 1px solid #FFFFFF;
    height: 20px;
}

.header-phone {
    margin-left: 38px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.header-wp {
    margin-left: 35px;
}

.header-telegram {
    margin-left: 10px;
}

.header__btn {
    background-color: #FFFFFF;
    border-radius: 60px;
    border: 1px solid #FFFFFF;
    margin-left: 34.23px;
}

.header__btn-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #161616;
    padding: 12px 24px 12px 24px;
}

/*promo*/

.promo {
    height: 807px;
    margin-bottom: 100px;
}

.promo__header {
    width: 830px;
    height: 240px;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 50px;
}

.promo-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 552px;
}

.promo__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    padding: 8px 18px 8px 18px;
}

.promo__title-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-left: 10px;
}

/*group*/

.group {
    margin-bottom: 150px;
}

.group__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1078px;
}

.group__box-container {
    max-width: 1078px;
    margin: 0 auto;
}
