* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161616;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}

a {
    display: block;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1335px;
    margin: 0 auto;
} 

.header {
    margin-bottom: 134px;
}

.header-display {
    padding-top: 44px;
    padding-bottom: 44px;
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 90px;
    height: 40px;
}

.header__nav {
    margin-left: 92px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.header_nav-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.header-line {
    margin-left: 38px;
    border: 1px solid #FFFFFF;
    height: 20px;
}

.header-phone {
    margin-left: 38px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.header-wp {
    margin-left: 35px;
}

.header-telegram {
    margin-left: 10px;
    margin-right: 34.23px;
}

.submit_form {
    background-color: #FFFFFF;
    border-radius: 60px;
    border: 1px solid #FFFFFF;
}

.submit_form-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #161616;
    padding: 12px 24px 12px 24px;
}

/*promo*/

.promo {
    margin-bottom: 176px;
}

.promo-flex {
    display: flex;
    justify-content: space-between;
}

.promo__content-heading {
    font-family: Ubuntu;
    font-size: 70px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.promo-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

/*commission*/

.commission{
    margin-bottom: 55px;
}

.commission-title {
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 37px;
}

.commission-text {
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.commission-margin-first {
    margin-bottom: 337px;
}

.commission-back {
    width: 746px;
    height: 752px;
    background: url(./img/about/commission.svg) no-repeat;
    position: absolute;
    top: 709px;
    margin-left: 536px;
}

/*proposal*/

.proposal {
    text-align: center;
}

.proposal-box {
    background: #FFFFFF;
    padding-top: 136px;
    padding-bottom: 137px;
    margin-bottom: 32px;
}

.proposal-heading {
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #161616;
    margin-bottom: 37px;
}

.proposal-text {
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #161616;
}

.proposal-arrows {
    align-items: center;
    margin-bottom: 35px;
}

/*application*/

.application {
    padding-top: 76px;
    padding-bottom: 104px;
    margin-bottom: 92px;
    background: #FFFFFF;
}

.application-heading {
    margin-bottom: 39px;
    font-family: Ubuntu;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #161616;
}

.application__box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.application__box_left {
    width: 649px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}

.application__box_left-input {
    width: 100%;
    padding: 24px 18px;
}

input {
    width: 100%;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #979797;
    border-radius: 60px;
    padding: 12px 24px 12px 24px;
}

.application__box_right {
    width: 649px;
}

.application__box_right-textarea {
    width: 100%;
    height: 142px;
    resize: none;
    border-radius: 20px;
    border: 1px solid #979797;
    padding: 24px 18px;
    margin-bottom: 29px;
}

.application__box_right-btn {
    width: 100%;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #161616;
    border-radius: 60px;
    border: none;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.application__box_right-text {
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #544848;
}


/*footer*/

.footer {
    padding-top: 101px;
    padding-bottom: 60px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer__top_left {
    width: 381px;
}

.footer__top_left-logo {
    margin-bottom: 30px;
}

.footer__top_left-text {
    margin-bottom: 60px;
    font-family: Euclid Circular B;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.footer__top_left_nav {
    display: flex;
    justify-content: space-between;
}

.footer__top_left_nav-left-text {
    font-family: Euclid Circular B;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.ooter__top_left_nav-right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__top_left_nav-right-text {
    font-family: Euclid Circular B;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__top_right {
    width: 625px;
}

.footer__top_right-mail {
    font-family: Euclid Circular B;
    font-size: 64px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.footer__top_right-tel {
    font-family: Euclid Circular B;
    font-size: 64px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
}

.footer__top_right-soc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.footer-hr {
    border: 1px solid #707070;
    margin-bottom: 30px;
}

.footer__bot-copyright {
    font-family: Euclid Circular B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
}

.footer__bot {
    display: flex;
}

.footer__bot-text {
    margin-left: 31px;
    font-family: Euclid Circular B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}





